header{
	background-color: yellow; 
	text-align: center; 
}
ol{
	background: linear-gradient(#00FF00, #FFFFFF, #3f87a6, #FF00FF);
	font-size: 30px; 
}
a{
	font-size: 50px; 
	font-weight: bold; 
}